* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --DarkMossGreen: #426B1F;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 41px 96px;
    font-family: "Inter", sans-serif;
}

nav h2 {
    color:  var(--DarkMossGreen);
    font-size: 32px;
    font-family: "Newsreader", serif;
    letter-spacing: -2px;
    
}

nav div ul {
    display: flex;
    padding: 10px;
}

nav div ul li {

    padding: 20px;
    list-style-type: none;
}

nav div ul li a {
    text-decoration: none;
    color: #000;
    border-radius: 5px;
    transition: background-color 0.3s;
}
nav div ul li a:hover{
    background-color: var(--DarkMossGreen);
    
}

.Basket {
    padding: 13.5px 23px;
    background-color: var(--DarkMossGreen);
    border-radius: 8px;
    color: #fff;
}

.head{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.head h1{
    font-size: 64px;
    font-family: "Newsreader", serif;
    font-weight: 400;
    letter-spacing: -2px;
}
.head input{
    font-size: 20px;
    margin-top: 64px;
    padding: 19px 32px;
    background-color: var(--DarkMossGreen);
    color: #fff;
    border-radius: 8px;
    border: none;
    transition: transform 0.6s;
}

.head input:hover{
    transform: scale(1.1);
}
.img{
    display: flex;

}
.img img{
    width: 404px;
    height: 593px;
    margin-left: 50px;
    
}
.img div img{
    width: 680px;
    height: 380px;
    margin: 16px;
    margin: 70px 16px 16px 60px;
}
.img div p{
    font-size: 14px;
    margin-left: 60px;
    max-width: 630px;
}
.img div p span{
    font-weight: 600;
}
.pragraph{
    display: flex;
    margin: 100px 0px 10px 0px;
    font-size: 22px;
    line-height: 32px;
}
.pragraph p{
    width: 700px;
}
.pragraph h3{
    margin: 0 50px 0 100px;
    font-size: 14px;
}

.basket{
    padding: 60px 90px;
}
.basket h2{
    font-size: 64px;
}
.basket span{
    font-size: 20px;
    font-weight: 200;
}
hr{
    margin-top: 20px;
    border: 0;
    height: 0.8px;
    background-color: #E6E6E6;
}
.brodact>div{
    display: flex;
}

.brodact{ 
    display: flex;
    justify-content: space-between;
    width: 720px;
    margin: 30px  30px 30px 90px;
    border: 1px solid #E6E6E6;
    border-radius: 20px;
    background-color: #FAFAF5;
}
.price{
    padding: 20px;
    font-weight: 600;
}
.prodacts{
    display: flex;
}
.brodact>div>img{
    border-radius: 20px 0 0 20px;
}
.name-prodact{
    font-size: 20px;
    padding: 20px 20px 4px 20px;
}   
.salary{
    font-size: 2px;
    color: #426B1F;
    padding: 0px 20px 4px 20px;
}

.number{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    padding: 9px;
    margin: 15px 0 20px 20px;
    background-color: #fff;
    border-radius: 20px;
    width: 120px;
    height: 40px;
}
.salary{
    color: #426B1F;
    font-size: 20px;
    font-weight: 600;
}

.Order-summary{
    width: 390px;
    height: 300px;
    background: #FAFAF5;
    border-radius: 20px;
    margin: 30px 90px  0 0px;
}
.Order-summary>h3{
    font-size: 20px;
    margin: 20px;
}
.order{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.total{
    font-weight: 600;
}
.continue{
    background-color: #426B1F;
    color: #fff;
    border-radius: 8px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}