* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --DarkMossGreen: #426B1F;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 41px 96px;
    font-family: "Inter", sans-serif;
}

nav h2 {
    color:  var(--DarkMossGreen);
    font-size: 32px;
    font-family: "Newsreader", serif;
    letter-spacing: -2px;
    
}

nav div ul {
    display: flex;
    padding: 10px;
}

nav div ul li {

    padding: 20px;
    list-style-type: none;
}

nav div ul li a {
    text-decoration: none;
    color: #000;
    border-radius: 5px;
    transition: background-color 0.3s;
}
nav div ul li a:hover{
    background-color: var(--DarkMossGreen);
    
}

.Basket {
    padding: 13.5px 23px;
    background-color: var(--DarkMossGreen);
    border-radius: 8px;
    color: #fff;
}

.head{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.head h1{
    font-size: 64px;
    font-family: "Newsreader", serif;
    font-weight: 400;
    letter-spacing: -2px;
}
.head input{
    font-size: 20px;
    margin-top: 64px;
    padding: 19px 32px;
    background-color: var(--DarkMossGreen);
    color: #fff;
    border-radius: 8px;
    border: none;
    transition: transform 0.6s;
}

.head input:hover{
    transform: scale(1.1);
}
.img{
    display: flex;

}
.img img{
    width: 404px;
    height: 593px;
    margin-left: 50px;
    
}
.img div img{
    width: 680px;
    height: 380px;
    margin: 16px;
    margin: 70px 16px 16px 60px;
}
.img div p{
    font-size: 14px;
    margin-left: 60px;
    max-width: 630px;
}
.img div p span{
    font-weight: 600;
}
.pragraph{
    display: flex;
    margin: 100px 0px 10px 0px;
    font-size: 22px;
    line-height: 32px;
}
.pragraph p{
    width: 700px;
}
.pragraph h3{
    margin: 0 50px 0 100px;
    font-size: 14px;
}



